.emergency-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border: 1px solid #c3c2c2;
    border-radius: 103.17px;
    padding: 0.75rem 1.5rem;
    transition: box-shadow 0.3s ease;
}

.emergency-card:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.emergency-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #f9f9f9;
}

.emergency-card-image > img {
    height: 1.5rem;
    width: auto;
}

.emergency-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

.emergency-card-content p {
    margin: 0;
}

.emergency-card-content p:first-child {
    font-weight: bold;
    font-size: 1.2rem;
}

.emergency-card-content p:last-child {
    font-size: 1rem;
    color: #555;
}
